

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        
        <title>EDITAR</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        
        <div class="container">

            <br>

            <div class="row">
                <div class="col-sm-12 ">

                    <a class="btn btn-default" href="../Controller/RouterConfig.php">&larr; VOLTAR AO MENU</a>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 ">

                    <h2 class="text-center text-primary">EDITAR CONTATOS</h2>

                </div>
            </div>

            <br><br>

            <div class="row">
                <div class="col-sm-6 ">

                    <label for="Nome">Nome</label>
                    
                    <input type="text" name="Nome" id="Nome" class="form-control" required="required" title="Nome" placeholder="Digite o nome aqui">
                    

                </div>

                <div class="col-sm-6 ">

                    <label for="Telefone">Telefone</label>
                    
                    <input type="text" name="Telefone" id="Telefone" class="form-control" required="required" title="Telefone" placeholder="Digite o número do telefone">

                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-sm-12 ">

                    <label for="Endereco">Endereço</label>

                    <input type="text" name="Endereco" id="Endereco" class="form-control" required="required" title="Endereco" placeholder="Digite o endereço aqui">
                    
                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-sm-12 ">
                    <button onclick="Editar()" style="width: 100%;" type="button" class="btn btn-warning">Alterar</button>
                    
                </div>

            </div>



        </div>
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>

<script>
    function Editar()
    {
        var Nome     = $("#Nome").val()    ;
        var Telefone = $("#Telefone").val();
        var Endereco = $("#Endereco").val();

        if(Nome=="")
        {
            alert("Você precisa escolher um nome!");
        }

        if(Telefone=="")
        {
            alert("Você precisa escolher um telefone!");
        }

        if(Endereco=="")
        {
            alert("Você precisa escolher um endereço!");
        }

        $.post(
        "../Controller/RouterConfig.php?Controller=ContatoController&Funcao=Editar",
            {
                Nome:     Nome    ,
                Telefone: Telefone,
                Endereco: Endereco
            },
            function(retorno)
            {
                if(retorno>0)
                {
                    alert("ok!");
                }
                else
                {
                    alert("Erro. Favor consultar o suporte.");
                }
            }
        );

    }

</script>
